@charset "UTF-8";
/* CSS Document */


/*PÅVIRKER ALT INDHOLD PÅ HJEMMESIDEN*/
*{
	margin: 0;
	padding: 0;
	font-family:'Josefin Sans', sans-serif;
	background-color: #000000;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto; 
}

/*PÅVIRKER ALT INDHOLD PÅ HJEMMESIDEN*/


a{
	text-decoration: none;
	color: #fff;
	cursor: pointer;	
}

body {
	height: 125vh;
	font-family: 'josefin-sans', sans-serif;
	display: inline;
	
}

header {
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
}

header * {
	display: inline;
	font-size: 15px;
}

header li {
	margin: 20px;
	text-decoration: none;
	display: inline-block;
	margin-right: -10px;

}

nav ul {
	overflow: visible;
	text-align: right;
	transition: max-height 0.4s;
	display: flex;
	float: right;

} 
nav ul li {
	display: inline-block;
	padding: 0.9px;
	opacity: 0.8;
	text-align: center;
	font-size: 125%;
	min-width: 100px;
	float: right;
}

/*SLUT PÅ HEADER MENU*/



/*START PÅ FORSIDE*/
main {
	width: 100%;
	display: flex;
	justify-content: center;
	overflow: auto;
}

main section {
	padding-top: 10px;
	margin: 10px;
}

#frontpage section a {
	text-align: center;
	text-decoration: none;
	display: block;
	margin: auto auto 10px auto;
	padding: 15px;
	width: 30%;
	background: #939393;
	opacity: 0.8;
	border: 1px solid black;
	color: #BE5200;
	font-size: 125%;
}

/*SLUT PÅ FORSIDE*/


/* START PÅ FOOTER */

footer {
		position: absolute;
		left: 0;
		bottom: 0;
		height: 80px;
		width: 100%;
		overflow:inherit;
		text-align: center;
}
		
address {
		line-height: 25px;
		color:#ffffff;
		padding-top:15px;
		font-size:12px;
		font-style:normal;
}

/* SLUT PÅ FOOTER */


/* KODE TIL RESPONSIVE VISNINGER - VIGTIGT! */

@media screen and (max-width: 900px) {
	header img {
		display: none;
	}
}

@media screen and (max-width: 620px) {
	header img {
		display: none;
	}
	nav ul li {
	display: inline-block;
	padding: 10px;
	}
}

@media screen and (max-width:580px) {
	header img {
		display: none;
	}
	nav ul {
		max-height: 0;
	}
	
	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 10px;
		text-align:left;
	}
	
	ul li:hover {
		background-color:white;
		border-radius: 20px;
	}
	
}
	address {
		font-size: 12px;
		
}



	


